.hero {
    width: 100%;
    height: 100vh;
    position: relative;
}

.hero-mid {
    width: 100%;
    height: 70vh;
    position: relative;
}

.hero-mid h1 {
    padding-top: 3rem ;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Hero.css */
.video-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding-bottom: 56.25%;
  }
  
  .video-container > div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;

  }
  
  @media screen and (max-width: 768px) {
    .video-container {
        position: relative;
        width: 100%;
        height: 100%;
        overflow: hidden;

      }
      
      .video-container > div {
        position: absolute;
        top: 0;
        left: 0;
        width: 100% !important;
        height: 100% !important;
    
      }
  }

  @media screen and (max-width: 450px) {
    .video-container {
        position: relative;
        width: 100%;
        height: 100%;
        overflow: hidden;

      }
      
      .video-container > div {
        position: absolute;
        top: 0;
        left: 0;
        width: 200% !important;
        height: 100% !important;
    
      }
  }

  
.hero-text {
    position: absolute;
    top: 55%;
    /* Change to 50% for vertical centering */
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    /* Center the text horizontally */
}

.hero-text h1 {
    font-size: 3.5rem;
    font-weight:bold;
    background-color: #F8F6F4;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    

}

.hero-text p {
    font-size: 1.5rem;
    font-weight: 500;
    color: #F8F6F4;
    padding: 0.5rem 0 2rem 0;
}

.hero-text .show {
    text-decoration: none;
    background-color: #fff;
    padding: 1rem 2rem;
    border-radius: 6px;
    font-size: 1.1rem;
    font-weight: bold;
    letter-spacing: 2px;
    color: #222;
}

.hero-text .show:hover {
    background-color: #01959a;
    color: #001112;
}

@media screen and (max-width: 555px) {

    .hero-text h1 {
        padding: 10px 20px;
    }

    .hero-text p {
        font-size: 1.1rem;
        padding: 0 0 2rem 0;
    }

    .hero-text .show {
        font-size: 1rem;
        padding: 0.6rem 1.1rem;
        border-radius: 1rem;
    }

    .hero-text .show:hover {
        background-color: #01959a;
        color: #001112;

    }
}