/* Add these styles for background and text color changes */

body {
    background-color: #000;
    color: #fff;
}
/* Hotel Booking Section */

.hotelBookingCard {
    margin: 10rem 5rem 0 5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
     /* Example background color */
}

.hotelBooking-card {
    width: 30%;
    text-align: start;
    box-shadow: 0 5px 25px 2px rgb(0, 0, 0.11);
    border-radius: 7px;
    cursor: pointer;
    padding: 1rem 0.8rem;
    margin-bottom: 1.5rem;
    background-color: #272829; /* Example background color */
}

.hotelBooking-image {
    height: 200px;
    overflow: hidden;
    border-radius: 7px;
}

.hotelBooking-image img {
    width: 100%;
    height: 100%;
    transition: 0.3s ease-in-out;
    border-radius: 7px;
}

.hotelBooking-image:hover img {
    transform: scale(1.3);
}

.hotelBooking-card h2 {
    font-size: 1.5rem;
    padding: 0.9rem 0 0.2rem 0;
    margin-bottom: 3.5px;
    margin-top: 1px;
    color: #fff; /* Example text color */
}

.hotelBooking-card h4 {
    font-size: 1.2rem;
    border-bottom: 3px white double;
    padding-bottom: 0.8rem;
    /* margin-left: 1rem; */
    color: #fff; /* Example text color */
}

.hotelBooking-card ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 3rem;
}

.hotelBooking-card li {
    flex: 0 1 calc(50% - 1rem);
    margin: 1rem 0;
    font-size: 1.2rem;
    box-sizing: border-box;
    color: #fff; /* Example text color */
}

.hotelBookingBtn {
    margin: 1rem 0 0 7.3rem;
    width: 10rem;
    background-color: #4caf50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}

.hotelBookingBtn:hover {
    background-color: #45a049;
}

@media screen and (max-width: 850px) {
  /* ... existing media queries ... */
  .flightBookingCard,
  .hotelBookingCard {
    flex-direction: column;
  }

  .flightBookingH1 {
    font-size: 2rem;
    margin: 3rem 0 1rem 0;
  }

  .flight-booking-form button,
  .hotelBookingBtn {
    width: 100%;
    margin: 1rem 0;
  }

  .ticket-details .printFlightBookingBtn {
    width: 100%;
    margin: 1rem 0;
  }

  .hotelBooking-card {
    width: 100%;
    margin-bottom: 1.5rem;
  }

  .hotelBookingBtn {
    margin: 1rem 0 0 14.5rem;
  }
}
