/* destination.css */

body {
    background-color: #333; /* Set the background color of the body */
    color: #fff; /* Set the default text color to white */
}

.destination {
    margin: 10rem 6rem; /* Adjusted margin for centering */
    text-align: center; /* Center-align text */
}

.destination h1 {
    font-size: 3rem;
}

.destination p {
    font-size: 1.3rem;
}

.first-des,
.first-des-reverse {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 4.5rem;
    padding: 0 5rem 3rem 5rem;
}

.first-des-reverse {
    flex-direction: row-reverse;
}

.des-text {
    width: 45%;
    text-align: start;
    font-size: 1.1rem;
     /* Set text color for .des-text */
}

.des-text h2 {
    padding-bottom: 1rem;
}

.image {
    position: relative;
    width: 50%;
    display: flex;
    justify-content: space-between;
    z-index: -99;
    padding-bottom: 1.5rem;
}

.image img {
    width: 49%;
    height: 350px;
    object-fit: cover;
    border-radius: 6px;
    box-shadow: -1px 1px 12px -6px rgba(0, 0, 0, 0.3); /* Adjusted box-shadow */
    border: 5px solid #000; /* Add border and set color for img */
}

.image img:nth-child(2) {
    position: absolute;
    top: -10%;
    right: 0;
}

@media screen and (max-width: 850px) {
    .destination {
        margin: 4rem 2rem;
    }

    .first-des,
    .first-des-reverse {
        display: flex;
        flex-direction: column-reverse;
        margin-top: 2.5rem;
    }

    .des-text {
        width: 100%;
    }

    .image {
        width: 100%;
        margin: 1.8rem 0;
    }

    .image img {
        height: 250px;
    }
}
