/* destination.css */

body {
    background-color: #333;
    color: #fff;
}

.packagesPlan {
    margin: 10rem 5rem 0 5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

.packagesPlanData-card {
    width: 30%;
    text-align: start;
    box-shadow: 0 5px 25px 2px rgb(0, 0, 0.11);
    border-radius: 7px;
    cursor: pointer;
    padding: 1rem 0.8rem;
    margin-bottom: 1.5rem;
    background-color: #272829; /* Example background color */

}

.packagesPlanData-image {
    height: 200px;
    overflow: hidden;
    border-radius: 7px;
}

.packagesPlanData-image img {
    width: 100%;
    height: 100%;
    transition: 0.3s ease-in-out;
    border-radius: 7px;
}

.packagesPlanData-image:hover img {
    transform: scale(1.3);
}

.packagesPlanData-card h2 {
    font-size: 1.5rem;
    padding: 0.9rem 0 0.2rem 0;
    margin-bottom: 1px;
    color: #fff; /* Example text color */
}

.packagesPlanData-card h4 {
    font-size: 1.2rem;
    border-bottom: 2px #000 dotted; /* Example border color */
    padding-bottom: 0.8rem;
    font-weight: 530;
    font-style: initial;
    color: #fff; /* Example text color */
}

.packagesPlanData-card ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 1rem 0 1rem 1rem;
    border-bottom: 2px #000 dotted;
}

.packagesPlanData-card li {
    width: 50%;
    margin-bottom: 0.5rem;
    font-size: 1.1rem;
    color: #fff; /* Example text color */
}

.packagesPlanDataBtn {
    width: 8rem;
    margin-left: 8rem;
    background-color: #4caf50;
    color: white;
    padding: 8px 12px;
    border: none;
    border-radius: 1rem;
    font-weight: 500;
    cursor: pointer;
    font-size: 1.1rem;
}

.packagesPlanDataBtn:hover {
    background-color: #45a049;
}

.bottomDiv {
    display: flex;
    align-items: center;
}

.priceContainer {
    display: flex;
    flex-direction: column;
    margin-left: 0.5rem;
}

.startFrom {
    font-size: 1.1rem;
    font-weight: 500;
    color: #ccc; /* Example text color */
}

.priceOfPackages {
    font-size: 1.4rem;
    font-weight: 550;
    color: #fff; /* Example text color */
}

@media screen and (max-width: 850px) {
    .packagesPlan {
        flex-direction: column;
        width: 100%;
        margin: auto;
        margin-top: 10rem;
    }

    .packagesPlanData-card {
        width: 100%;
        margin-bottom: 1.5rem;
    }

    .packagesPlanDataBtn {
        margin: 1rem 0 0 5rem;
        background-color: #4caf50;
        color: white;
        padding: 10px 15px;
        border: none;
        border-radius: 4px;
        font-size: 15px;
        font-weight: 500;
        cursor: pointer;
    }

    .packagesPlanData-card li {
        font-size: 0.7rem;
        color: #fff; /* Example text color */
    }

    .priceContainer {
        display: flex;
        flex-direction: column;
    }

    .startFrom {
        font-size: 1rem;
        font-weight: 500;
        color: #ccc; /* Example text color */
    }

    .priceOfPackages {
        font-size: 1rem;
        font-weight: 550;
        color: #fff; /* Example text color */
    }
}
